/* Profile */
.profile-pic {
  width: 200px;
  border-radius: 50%;
}

p span {
  font-weight: bold;
}

.progress {
  margin-top: 20px;
}

button {
  margin: 20px 0;
  text-align: center;
}

.profile-details p {
  font-weight: 400;
  font-size: 18px;
}

.profile-details p span {
  font-weight: bold;
}
