.options {
  margin: 40px 0;
}

.option {
  text-align: center;
}

.option img {
  width: 150px;
  border-radius: 50%;
}

.option img:hover {
  cursor: pointer;
}

.search {
  margin: 50px 0;
}

.search .input-group {
  margin: 50px 0;
}
