body {
  font-family: 'Lato', sans-serif;
}

th, td {
  padding: 15px;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 600;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  margin: 20px 0;
}

.credit {
  display: none;
}

/* ---------------- Navigation ---------------- */
.navbar {
  border-radius: 0;
}

.navbar-default {
  background-color: #FFF3F3;
}

.navbar .container-fluid {
  height: 100px;
  display: inline;
}

.navbar .container-fluid a {
  font-size: 24px;
  cursor: pointer;
  color: #253039;
  font-family: 'Raleway', sans-serif;
}

.navbar .container-fluid a:hover {
  text-decoration: none;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 30px;
  margin: 0 10px 0 20px;
}

.logo span {
  font-weight: 600;
}

/* ---------------- Homepage ---------------- */
.container-fluid.home {
  padding: 0;
  text-align: center;
  background-color: #FFF3F3;
  padding: 20px 0;
}

.home .jumbotron {
  display: inline-block;
  height: 100vh;
  margin: 0;
  background-color: #FFF3F3;
}

.home .jumbotron img {
  width: 150px;
}

.home .subtext {
  text-align: left;
  padding: 30px 100px 5px;
}

.home .subtext p {
  font-size: 18px;
}

.home .actions {
  margin: 30px 0;
}

.home .actions p a:hover {
  text-decoration: none;
}

.info-credits {
  text-align: left;
  color: white;
  position: relative;
}

.info-credits img.info {
  width: 24px;
  height: 24px;
}

.info-credits .info-text ul {
  padding: 0;
}

.info-credits .info-text li {
  text-align: left;
  list-style: none;
}

.info-text span {
  display: block;
  font-weight: 600;
  font-size: 18px;
}

.info {
  font-size: 24px;
  color: #333;
}

.info:hover {
  cursor: pointer;
}

.info-text p {
  font-size: 14px;
  color: #79b000;
}

.info-text span {
  color: #79b000;
}

.info-text {
  position: absolute;
  background-color: black;
  border-radius: 6px;
  padding: 20px;
  left: 3px;
  bottom: 25px;
  display: none;
}

/* ---------------- Media Queries ---------------- */
@media (max-width: 991px) {
  .home .subtext {
    padding: 30px 50px 5px;
  }
}
